---
import Layout from "../layouts/Layout.astro";
import { ThemeCard } from "@/components/ui/theme-card";
import { ThemePagination } from "@/components/ui/theme-pagination";

const themesPerPage = 16;
const totalThemes = 88;
---

<Layout>
    <div
        class="grid grid-cols-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 h-full mt-10 pt-6"
    >
        {
            Array.from({ length: themesPerPage }).map((_, idx) => (
                <ThemeCard
                    name="Spectral Theme"
                    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. "
                    image="@/src/themes/spectral/screenshot.webp"
                    author="Spectre"
                    colors={{
                        accent: "#27272a33",
                        surface: "#27272a33",
                        background: "#27272a33",
                    }}
                />
            ))
        }
    </div>

    <div class="flex justify-center py-24">
        <ThemePagination
            pagination={{ page: 1, perPage: themesPerPage, total: totalThemes }}
        />
    </div>
</Layout>
