---
import Layout from "../layouts/Layout.astro";
import { ThemeList } from "@/components/ui/theme-list";
import themeList from "@/lib/themes.json";
---

<Layout title="Hydra Themes">
  <ThemeList client:load themes={themeList} />

  <!-- TODO: finish pagination -->
  <!-- <div class="flex justify-center py-24 absolute bottom-0 w-full left-0">
        <ThemePagination pagination={{ page: 1, perPage: 16, total: themes.length }} />
    </div> -->
</Layout>
