.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  color: #f0efef;
}

#root {
  background: url(https://i.gifer.com/9Sbc.gif) #2c2323;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(0, 0, 0, 0.322) !important;
  backdrop-filter: blur(10px);
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(33, 72, 199, 0.603);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(15, 46, 150, 0.705) !important;
}

.title-bar {
  background-color: rgb(0, 0, 0);
}

.home__content {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

.bottom-panel {
  background-color: rgba(9, 36, 185, 0.397);
}
