  .header {
    background-color: black;
  }

  /* Sidebar */
  .sidebar {
    background-color: black;
  }
  /* Bottom panel */
  .bottom-panel {
    background-color: black;
  }

  /* Toast */
  .toast {
    background-color: black;
  }
.container__content{
  background: black;
}
.settings__content{
  background-color: black;
}
.header__search{
  background-color: black;
}
.text-field-container__text-field-input{
  background-color: black;
}
.description-header{
  background-color: black;
}
.gallery-slider__container{
  background-color: black;
}
.sidebar-section__button{
  background-color: black;
}
.list{
  background-color: black;
}
.stats__section{
  background-color: black;
}
.how-long-to-beat__categories-list{
  background-color: black;
}
.game-details__description{
  background-color: black;
}
.game-details__description-content{
  background-color: black;
}
.requirement__details{
  background-color: black;
}
.content-sidebar{
  background-color: black;
}
.modal__content{
  background-color: black;
}
.repacks-modal__repack-button{
  background-color: black;
}
.modal__header{
  background-color: black;
}
.user-stats__box{
  background-color: black;
}
.recent-games__box {
  background-color: black;
}
.friends-box__box{
  background-color: black;
}
.achievements__list {
  background-color: black;
}
.achievement-panel__grid--with-subscription{
  background-color: black;
}
.achievements-content__achievements-list__section__table-header__container--has-active-subscription{
  background-color: black;
}
.download-group__right-content {
  background-color: black;
}
.dropdown-menu__group {
  background-color: black;
}
.game-item__details{
  background-color: black;
}
.game-item{
  background-color: black;
}
.catalogue__filters-container{
  background-color: black;
}
.game-item:hover{
  background-color: black;
}
.sidebar-profile__friends-button{
  background-color: black;
}
.game-details__randomizer-button{
  background-color: black;
}