#root {
  background: url(https://wallpaper.forfun.com/fetch/03/0357133c61efd77e5c6cdd1effb3e8e8.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidebar,
.container__content,
.header,
.bottom-panel,
.text-field-container__text-field--dark,
.settings__content,
.header__search,
.sidebar-profile__friends-button,
.game-item,
.catalogue__filters-container,
.user-stats__box,
.recent-games__box,
.friends-box__box {
  background: #19032151 !important;
  backdrop-filter: blur(5px);
}

.container__content {
  background: #341f3b2c;
  backdrop-filter: blur(1px);
}
